[suites]
astandard = integrated_hydro_transport

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
default = 1.0e-6 absolute
(surface)ponded_depth = 1.e-6 absolute
pressure = 1.e-6 relative
saturation_liquid = 1.e-6 absolute
concentration = 1.e-6 absolute
surface-concentration = 1.e-6 absolute

[integrated_hydro_transport]

[integrated_hydro_transport_multi]

