[suites]

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
default = 1.0e-12 absolute
pressure =
cell_volume =
porosity =


[deformation_squish]

[subsiding_permafrost]
timeout = 360
