[suites]
standard = thermal_richards-cyclic

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
default = 1.0e-12 absolute
pressure = 1.0e-6 relative
temperature = 1.0e-6 absolute
saturation_liquid = 1.0e-6 absolute
timeout = 360

[thermal_richards-cyclic]

[thermal_richards-cyclic_fv]




